name: Build bootstrap binaries for glibc on Linux

on:
  pull_request:
    paths:
      - .github/workflows/build.yml
      - "build-*.sh"
      - Dockerfile*
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        binary:
          - binutils
          - bison
          - gawk
          - gcc
          - make
          - python3
          - sed
        arch:
          - x86_64
          - arm64
        include:
          - arch: x86_64
            runs-on: ubuntu-latest
          - arch: arm64
            runs-on: ubuntu-24.04-arm
    runs-on: ${{matrix.runs-on}}
    name: ${{matrix.binary}} (${{matrix.arch}})
    env:
      ARCH: ${{matrix.arch}}
      BINARY: ${{matrix.binary}}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Build Docker image
        run: docker build --tag glibc-bootstrap --file "Dockerfile.$ARCH" .

      - name: Run Docker container
        run: docker run --rm --detach --user linuxbrew --name "$GITHUB_SHA" --workdir /home/linuxbrew --volume "$(pwd):/home/linuxbrew/glibc-bootstrap" glibc-bootstrap sleep inf

      - name: Build ${{matrix.binary}}
        run: docker exec "$GITHUB_SHA" /bin/bash -c "/home/linuxbrew/glibc-bootstrap/build-$BINARY.sh"

      - name: Copy binaries from container
        run: docker cp "$GITHUB_SHA":/home/linuxbrew/bootstrap-binaries .

      - name: Upload binaries to GitHub Actions
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: bootstrap-${{matrix.arch}}-${{matrix.binary}}
          path: bootstrap-binaries
