name: Upload new release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Version to use for release tag
        required: true

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download binaries from GitHub Actions
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: bootstrap-*
          path: bootstrap-binaries
          merge-multiple: true

      - name: Create release
        run: gh release create "$TAG" --generate-notes bootstrap-binaries/*.tar.gz
        env:
          GH_TOKEN: ${{github.token}}
          TAG: ${{github.event.inputs.tag}}
