name: Upload new release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Version to use for release tag
        required: true

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Download binaries from GitHub Actions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: bootstrap-*
          path: bootstrap-binaries
          merge-multiple: true

      - name: Create release
        run: gh release create "$TAG" --generate-notes bootstrap-binaries/*.tar.gz
        env:
          GH_TOKEN: ${{github.token}}
          TAG: ${{github.event.inputs.tag}}
